@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap');
html{
scroll-behavior:smooth;
}
/*CORPO*/

body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c
}

h1,
h2,
h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

abbr {
    border-bottom: none !important;
    text-decoration: none !important;
}

.botao {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

.botao:hover {
    background-color: #6363e7;
    transition: 0.3s;
}


/*Navegação*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav>a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul li a:hover {
    color: #8b927b;
    font-size: 20px;
    transition: 0.4s;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 50%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 50%;
    text-decoration: none;
    color: #ffffff
}


/*Cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/violao2background.jpg")!important;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #ffffff;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#sobre h2 {
    color: #ffffff;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background: #ffffff;
    color: #1c1c1c;
}

#sobre .botao:hover {
    background: #615858;
    transition: 0.3s;
}

#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#serviços img {
    width: 80px;
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#fotos h2 {
    margin-top: 20px;
}

#fotos img {
    width: 100%;
    cursor: pointer;
}

#fotos img:hover {
    opacity: 0.5;
    background-size: cover;
    transition: 0.3s;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

#contato a {
    text-decoration: none;
}

#contato p a:hover {
    color: #191970;
    font-size: 15px;
    transition: 0.4s;
}


/*Rodapé*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #00ffff;
}

footer a:hover {
    font-size: 20px;
    color: #ffffff;
    transition: 0.4s;
}

footer p {
    color: #b3a9a9;
    font-size: 13px;
}

@media screen and (min-width: 768px) {
    /*nav*/
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    /*Sobre*/
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    /*Serviços*/
    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #serviços h2 {
        text-align: center;
        width: 100%;
    }
    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    /*Fotos*/
    #fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #fotos h2 {
        width: 100%;
        text-align: center;
    }
    #fotos img {
        width: 33.3333333%;
    }
    /*Contato*/
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2,
    #contato p {
        width: 100%;
    }
}
